/**/node_modules/*
/node_modules/*
*._*
.DS_Store
/MEANedx/data/*
Full stack development/Course5/mongodb/data/*
*.pdf
/github_contribution_graph_parser/
/CampuSale/
/jayantarora/
/Student Mentorship Guild/
/C++/*.pdf
