
body{
	font-family: Helvetica, Arial, sans-serif;
	background: #333366;
}

#content{
	width: 450px;
	margin: 10px auto;
	padding: 5px 20px;
	background: white;
	border: thin solid black;
}

#salesTax, #total{
	color: black;
}

#taxCalc label{
	display: block;
	width: 6em;
	text-align: right;
	padding-right: 1em;
	float: left;
}

#textCalc input{
	display: block;
	float: left;
}

#textCalc br{
	clear: left;
}